.register-form h1 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.36px;
    padding: 20px;
}
.register-form form {
    padding: 20px;
}
.form-group {
    position: relative;
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.28px;
    margin-bottom: 8px;
}
.form-group input[type='text'] ,
.form-group input[type='number'] {
    width: 100%;
    height: 48px;
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #e7e8eb;
    background-color: #fff;
    color: #111;
    caret-color: #13bd7e;
}
.form-group input::placeholder {
    color: #d0d6de;
    font-size: 14px;
}
.form-group.is-invalid label {
    color: #f03e3e;
}

.form-group.is-invalid input[type='text'] ,
.form-group.is-invalid input[type='number'] {
    border-color: #f03e3e;
}
.register-form .noti {
    font-family: "Pretendard Variable";
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #878e9c;
    margin-top: 8px;
}
.invalid-feedback,
.error {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #f03e3e;
}

.checkbox-area {
    margin: 0 -20px 80px;
    padding: 20px;
}
.checkbox-group {
  padding: 20px 20px 7px 16px;
  border-radius: 8px;
  border: solid 1px #e7e8eb;
  background-color: #fff;
}
.checkbox-group div,
.form-group.form-check {
    position: relative;
    margin-bottom: 15px;
}
.checkbox-group input,
.form-group.form-check input {
    display:none;
}
.checkbox-group input + label,
.form-group.form-check input + label {
    cursor:pointer;
    font-size: 12px;
    font-weight: 500;
    color: #111;
    line-height: 20px; 
}
.checkbox-group input[type=checkbox] + label::before,
.form-group.form-check input[type=checkbox] + label::before {
    content:"";
    display:inline-block;
    vertical-align:middle;
    width: 20px;
    height: 20px;
    margin: -2px 8px 0 0;
    border-radius: 4px;
    border: solid 2px #e7e8eb;
    background-color: #fff;    
}
.checkbox-group input[type=checkbox]:checked + label::before,
.form-group.form-check input[type=checkbox]:checked + label::before {
    background-color:#13bd7e;
    border-color:#13bd7e;
}
.checkbox-group input[type=checkbox]:checked + label::after,
.form-group.form-check input[type=checkbox]:checked + label::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 6px;
    left: 5px;
    width: 10px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-ransform: rotate(-48deg);
    transform: rotate(-48deg);
    border-radius: 0;
}
.form-group.form-check.chk-all input + label {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.28px;
    color: #111;
    line-height: 24px; 
}
.form-group.form-check.chk-all input[type=checkbox] + label::before {
    width: 24px;
    height: 24px;
    margin: -2px 12px 0 0;
}
.form-group.form-check.chk-all input[type=checkbox]:checked + label::after {
    top: 7px;
    left: 6px;
    width: 11px;
    height: 7px;
}
/* .form-group.form-check.is-invalid input + label {
    color: #f03e3e;
} */

.form-group.form-check.is-invalid input[type=checkbox] + label::before {
    border-color: #f03e3e;
}
.checkbox-area .noti {
    margin-left: 29px;
}
.form-check a {
    position: absolute;
    right: -4px;
    top: -2px;
    font-size: 12px;
    font-weight: 500;
    color: var(--light-gray);
    padding: 5px;
}
/* .registrationComplete {
    position: relative;
    height: 100vh;
}
.registrationComplete__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */
.registrationComplete {
    height: calc(100vh - var(--mar-top));
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.registrationComplete__inner {    
    width: 100%;
    text-align: center;
    padding: 20px;
}
.gift {
    display: block;
    width: 158px;
    margin: 0 auto 20px;
}
.registrationComplete h1 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.44px;
  line-height: 1.25;
}
.registrationComplete p {
    line-height: 1.3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: #878e9c;
    margin: 22px auto;
}
.registrationComplete button {
    width: 160px;
    height: 48px;
    margin: 0 auto;
    border-radius: 24px;
    border: solid 1px #13bd7e;
    background-color: #e6f9f3;
    font-size: 14px;
    font-weight: 600;
    color: #13bd7e;
}

.btn-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 10;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}
div[data-lastpass-icon-root] {
    display: none;
}

/* 로그인 */
.login {
    height: calc(100vh - var(--mar-top));
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.login__inner {    
    width: 100%;
    text-align: center;
    padding: 20px;
}
.login h1 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.44px;
  margin-bottom: 18px;
}
.login h1 b {
    display: block;
    margin: 2px 0;
    color: var(--color-green);
}
.login p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.24px;
    color: var(--light-gray);
    margin-bottom: 40px;
}
.login button {
    width: 100%;
    height: 52px;
    margin: 0 0 10px;
    border-radius: 8px;
    background-color: #fae100;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
    text-align: center;
}
.login button::before {
    content: '';
    position: relative;
    top: 5px;
    margin-right: 7px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.login .kakao::before {
    background-image: url(../assets/join/ico_kakao.svg);
}
.login .naver {
    background-color: #03c75a;
    color: #fff;
}
.login .naver::before {
    top: 4px;
    background-image: url(../assets/join/ico_naver.svg);
}
.login .benefit-view {
    display: inline-block;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.24px;
    color: var(--light-gray);    
    background-image: url(../assets/join/ico_arrow.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 15px;
  }