.rules {
    padding: 40px 20px 20px;
}
.rules h1 {
    position: fixed;
    display: inline-table;
    width: 100%;
    max-width: var(--max-width);
    height: 72px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    vertical-align: top;
    background: var(--color-white);
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 11;
}
.rules h1 span {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: var(--color-black);
}
.rules h1 .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 72px;
    background-image: url(../assets/ico_close.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 0;
    color: transparent;
}
.rules h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -0.28px;
    color: var(--color-black);
    margin: 30px auto 15px;
}
.rules p {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: -0.24px;
    color: #878e9c;
    margin-bottom: 15px;
}
.rules .list {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.24px;
    color: #878e9c;
    border: 1px solid #e7e8eb;
    border-left: 0;
    border-right: 0;
    margin-bottom: 18px;
}
.rules .list th {
    font-size: 12px;
    font-weight: normal;
    height: 38px;
    line-height: 1.4;
    letter-spacing: -0.24px;
    color: #878e9c;
    background-color: #f6f7f9;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #878e9c;
    border-left: 1px solid #e7e8eb;
}
.rules .list th:first-child {
    width: 17%;
    border-left: 0;
}

.rules .list th:last-child {
    width: 27%;
}
.rules .list tr {
    border-top: 1px solid #e7e8eb;
}
.rules .list td {
    color: #878e9c;
    padding: 20px 8px;
    border-left: 1px solid #e7e8eb;
}
.rules .list td:first-child {
    border-left: 0
}